html {
  color-scheme: dark !important;
}

.small-text {
  font-size: medium;
  text-wrap: nowrap;
  margin-bottom: 0.5rem;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

main {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.AcqSys {
  font-family: "Gemunu Libre", sans-serif;
}

h2 {
  margin-top: 1rem;
}

form {
  text-align: center;
  border: 1px solid #ffc90e;
  padding: 1rem 4rem;
  border-radius: 35px;
}

.field {
  margin-block: 1rem;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  margin: 0.75rem auto;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 0.5rem;
  display: block;
  margin-bottom: 0.3rem;
  transition: all 0.5s;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: 0;
  border: 1px solid #86b7fe;
  box-shadow: 0 0 0 1px #b9d3fa;
}

.align-left {
  display: block;
  text-align: left;
}

label {
  font-size: 2rem;
}

button {
  margin-top: 1rem;
  border: 0;
  padding: 0.5rem 5rem 0.9rem 5rem;
  border-radius: 2rem;
  color: #fff;
  background: #0d6efd;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background: #0948a8;
}

#sign-in {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

#sign-up {
  margin-bottom: 1.25rem;
}

p {
  font-size: 0.75rem;
}

span {
  margin-inline: 2rem;
}

footer {
  position: absolute;
  bottom: 1%;
  width: 100%;
  text-align: center;
}

.copyright {
  font-size: 1.5rem;
}
